.texto {
    /* width: 50%; */
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    margin: 0px 20px 0px 20px;
    /* text-align: center; */
    text-align: justify;
    max-width: 1000px;
    padding-left: 1vw;
    /* border: 1px solid red; */
}

@media (min-width: 1000px) {
    .texto {
    width: 50%;
    }

    .formulario {
        width: 100%;
    }
}

.texto0 {
    color: white;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
}

.texto2 {
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    text-align: center;
    max-width: 700px;
}

.texto3 {
    color: #ffae00;
    font-size: 1.5rem;
    font-family: Montserrat;
    text-align: center;
    max-width: 700px;
    margin: 0;
}

.texto-laranja {
    color: #ffae00;
    font-size: 1.5rem;
    font-family: Montserrat;
}

.texto-laranja2 {
    color: #ffae00;
    font-size: 2rem;
    font-family: Montserrat;
}

@media (max-width: 600px){
    .texto {
        margin: 0px 10px 0px 10px;
    }
}