body{
    background:#ffae00;
    height: 100%;
    font-family:'Comic Sans';
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 95%;
    background-color:black;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
}

.inicio {
    margin-top: 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
}

h1.engaja, .data{
    text-justify: center;
    content: '';
    color: #ffae00;
    font-size: 6vw;
    font-family: Montserrat;
    font-weight: 800;
    letter-spacing: .5rem;
    margin: 0px;
}


.convida {
    text-justify: center;
    color: white;
    font-size: 5vw;
    font-family: Montserrat;
    letter-spacing: .2rem;
    margin: 0;
}

.convidados {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 2vw;
    width: 100%;
}

.imgtext {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 3vw;
}

.convidados div p {
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    margin: 0;
}

.imgtext a {
    font-family: Montserrat;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #ffae00;
    text-align: center;
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: ease;
}

.imgtext a:hover {
    color: #9e6c00;
}

.imagens {
    border-radius: 500%;
    width: 200px;
    margin: 0px 0px 10px 0px;
}

.texto-form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.texto {
    /* width: 50%; */
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    margin: 0px 20px 0px 20px;
    /* text-align: center; */
    text-align: justify;
    max-width: 1000px;
    padding-left: 1vw;
    /* border: 1px solid red; */
}

@media (min-width: 1000px) {
    .texto {
    width: 50%;
    }

    .formulario {
        width: 100%;
    }
}

.texto0 {
    color: white;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
}

.formulario {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 40%;
}

.texto2 {
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    text-align: center;
    max-width: 700px;
}

.texto3 {
    color: #ffae00;
    font-size: 1.5rem;
    font-family: Montserrat;
    text-align: center;
    max-width: 700px;
    margin: 0;
}

.texto-laranja {
    color: #ffae00;
    font-size: 1.5rem;
    font-family: Montserrat;
}

.texto-laranja2 {
    color: #ffae00;
    font-size: 2rem;
    font-family: Montserrat;
}

.video{
    max-width:100%;
    padding-bottom: 20px;
}

@media (max-width: 900px) {
    .formulario {
        width: 80vw;
    }
}

@media (max-width: 600px){
    .texto {
        margin: 0px 10px 0px 10px;
    }
}

.container2 {
    margin-bottom: 4vw;
}

.sharebuttons{
    margin:20px;
    color: #ffae00;
    max-width: 40px;
    max-height: 40px;
    background-color:black;
}

.sharebuttons2{
    margin:20px;
    color: #ffae00;
    max-width: 50px;
    max-height: 50px;
    background-color:black;
}

.myform{
    text-align: center;
    color: white
}

.form{
    color: #ffae00;    
    font-size: 1.5rem;
    font-family: Montserrat; 
    text-align: center;
    max-width:356px;
}

.b{
    background-color:#ffae00;
    border-radius: 12px;
    border-color: #b47c01;
    padding:5px;
    width: 220px;
    margin-top: .5vw;
}
.formfield{
    border-radius: 10px;
    border:1.5px solid;
    border-color:#ffae00;
    margin-bottom: 1vw;
}

.cronometro {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    margin-top: 20px;
}

.dia, .hrs, .min, .seg {
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    padding-right: 10px;
    padding-left: 10px;
}
#botao {
    background-color:#9e6c00;

    width:7vw;
    height:7vh;
    min-height: 150px;
    min-width: 300px;
    font-size: 1.5rem;
    font-family: Montserrat;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    color: black;

}

#botao:hover {
    background-color:#d89505;

    transition-property: all;
    transition-duration: .50s;
    transition-timing-function: ease;
    color: white;
}
