body{
    background:#ffae00;
    /* max-width:100%; */
    /* min-width:100%; */
    height: 100%;
    font-family:'Comic Sans';
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column wrap;
    max-width: 80%;
    background-color:black;
    min-height: 100%;
    text-align: center;
    justify-content: center;
}

h1.engaja{
    color: #ffae00;    
    font-size: 13vw;
    font-family: Montserrat; 
    letter-spacing: .5rem;  
    margin: 0px;
}

.convida {
    color: white;    
    font-size: 7vw;
    font-family: Montserrat;   
    letter-spacing: .2rem;  
}

.texto {
    color: white;    
    font-size: 1.5rem;
    font-family: Montserrat;   
    margin: 0px 30px 0px 30px;
}

.texto-laranja {
    color: #ffae00;    
    font-size: 2rem;
    font-family: Montserrat;   
}

.video{
    max-width:100%;
    padding-bottom: 20px;
}

.formulario {
    /* width: 100vw; */
}

@media (max-width: 900px) {
    .formulario {
        width: 80vw;
    }

    .container {
        max-width: 90%;
    }
}

@media (max-width: 600px){
    h1.engaja {
        padding-top: 40px;
    }
}

.sharebuttons{
    margin:20px;
    color: #ffae00;
    max-width: 40px;
    max-height: 40px;
    background-color:black;
}

.sharebuttons2{
    margin:20px;
    color: #ffae00;
    max-width: 50px;
    max-height: 50px;
    background-color:black;
    
}

.texto{
    text-align: justify;
    margin:0 10% 0 10%;
    font-size: 2rem;
    
}
.lista{
    text-align: justify;
    padding-left: 40%;
    min-width:300px;
}