body{
    background:#ffae00;
    /* max-width:100%; */
    /* min-width:100%; */
    height: 100%;
    font-family:'Comic Sans';
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 95%;
    background-color:black;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;

}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px 0px 30px;
    margin-bottom: 2vw;
}

.engaja-convida {
    display: flex;
    flex-flow: column wrap;
    /* padding-left: 15px; */
    /* background: tomato; */
}

.data-relogio {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    /* background: tomato; */
}

h1.engaja, .data{
    text-justify: center;
    content: '';
    color: #ffae00;
    font-size: 7vw;
    font-family: Montserrat;
    font-weight: 800;
    letter-spacing: .5rem;
    margin: 0px;
}

.relogio {
    width: 30vw;
    padding-top: 1vw;
    box-sizing: border-box;
}


.convida {
    text-justify: center;
    color: white;
    font-size: 5vw;
    font-family: Montserrat;
    letter-spacing: .2rem;
}

.convidados {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.imgtext {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.convidados div p {
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    margin: 0;
}

.imgtext a {
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration: underline;
    color: #ffae00;
    text-align: center;

}

.imgtext a:hover {
    color: #9e6c00;
}

.imagens {
    border-radius: 500%;
    max-width: 60%;
    margin: 0px 20px 10px 20px;
}

.texto-rosto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
}

.texto {
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;
    margin: 10px 0px 0px 30px;
    /* text-align: justify; */
    max-width: 1000px;
    padding-left: 1vw;
}

.texto2 {
    color: white;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
    
}

.texto3 {
    color: #ffae00;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
    margin: 1vw ;
}

.texto-laranja {
    color: #ffae00;
    font-size: 1.5rem;
    font-family: Montserrat;
}

.texto-laranja2 {
    color: #ffae00;
    font-size: 2rem;
    font-family: Montserrat;
}

.video{
    max-width:100%;
    padding-bottom: 20px;
}

@media (max-width: 900px) {
    .formulario {
        width: 80vw;
    }
}

@media (max-width: 600px){
    .texto {
        margin: 0px 10px 0px 10px;
    }
}

.sharebuttons{
    margin:20px;
    color: #ffae00;
    max-width: 40px;
    max-height: 40px;
    background-color:black;
}

.sharebuttons2{
    margin:20px;
    color: #ffae00;
    max-width: 50px;
    max-height: 50px;
    background-color:black;

}

.lista{
    text-align: justify;
    padding-left: 40%;
    min-width:300px;
}